# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pyc
*.pdb
*.log
*.pot
*.mo
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test output
junit-*.xml

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.pytest_cache/

# Local config
*.local

# GitHub
.github/
